html, body {
	height:100%;
}

.draggable {
	width:100px;
	height:100px;
	background-color: #00bfa5;
}

.droppable {
	width:500px;
	height:300px;
	background-color: #b2dfdb;
}


.modal {
	background-color:#212121;
	overflow-y:visible!important;
}

.lean-overlay {
	visibility: hidden;
}